a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, p {
    margin: 0;
}
img {
    display: block;
}
address {
    font-style: normal;
}
body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
    background: #fff;

}
.container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
}
.main-btn {
    min-width: 98px;
    height: 32px;
    border-radius: 30px;
    background: #bbf330;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    } 
.input {
    font-family: inherit;
      }
    .main-btn:hover,
    .main-btn:focus {
        background: #ffe450;
    }
    /*=================Header===============*/
.header .container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}
.navigation {
    margin-right: 30px;
}
.nav-list {
    display: flex;
    gap: 28px;
}
.nav-link {
    display: block;
  padding: 28px 0;
  }
.nav-link-list {
font-size: 14px;
color: #2c2c2c;
}
  .nav-link-headr {
    font-weight: 700;
    text-decoration: underline;
    color: #bbf330;
  }
  .input {
    font-family: inherit;
  }

/*=================/Header===============*/


/* ==================Hero section============= */
.hero {
 padding-top: 14px;
padding-bottom: 69px;
box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);

}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.hero-wrapper{
    max-width: 511px;
}

.hero-title {
    font-weight: 700;
font-size: 48px;
line-height: 1.2;
margin-bottom: 28px;
}

.hero-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
margin-bottom: 40px;

}
.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 291px;
    width: 580px;
    height: 580px;
    border: 16px solid #ffe550 ;
    border-radius: 50%;
}
.hero-img:hover {
    border: 16px solid #bbf330;
}
/* ==================/Hero section============= */

/* ==================Offerings section============= */

.offering {
padding-top: 167px;
padding-bottom: 124px;
background-color: #ffe550;
}
.offerings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 841px;
    padding-right: 51px;
}
.offerings-img-wrapper-border {
    position: relative;
    width: 550px;
    height: 550px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 24px;
}
.offerings-img-wrapper {
    fill: #fefefe;

   }
.offering-ellipse {
   fill: #696969;
   filter: blur(26px);
}
      
.offering-apple {
    
} 
.offerings-img {
    position: absolute;
    display: flex;
    
}
.offerings-img:nth-child(1) {
    
   left: 24px;
   right: 24px;
    z-index: 99999;
}
.offerings-img:nth-child(2) {
    right: 119px;
    bottom: 51px;
    width: 252px;
    z-index: 9999;
}
.offerings-img:nth-child(3) {
   bottom: 78px;
    right: 46px;
    z-index: 999999999;
}
.offering-container-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 573px;
   }
   
.offering-title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 1.2;
    max-width: 526px;
    
}
.offering-text {
    max-width: 500px;
    height: 72px;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 1.5;
}
.offerings-list {
    display: flex;
    gap: 67px;
    margin-bottom: 32px;

}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-bottom: 8px;
    border-radius: 50%;
    
    background: #fefefe;
    fill: #7EB101;
}
.icon-list {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.offerings-item {

}
.offering-subtitle {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}
.offering-subtext {
    height: 84px;
    font-size: 14px;
    line-height: 1.5;

}
.offering-btn {
    border: 2px solid #7eb101;
    min-width: 106px;
    height: 40px;
    background-color: #fff;
    color: #2c2c2c;
}
.offering-btn:hover,
.offering-btn:focus {
    background: #bbf330;
}

/* ==================/Offerings section============= */

/* ==================Favorites section============= */
.favorites {
    padding-top: 120px;
    padding-bottom: 101px;
}


.container {
}
.favorites-title {
    font-size: 42px;
    text-align: center;
    padding-bottom: 20px;
}
.favorites-text {
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
}
.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    
    
}
.favorites-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - (32px * 2)) / 3);
    height: 397px;
    border-radius: 50%;
    border: 16px solid #ffe550;
}
.favorites-list-item:hover {
    border: 16px solid #bbf330;
}
/* ==================/Favorites section============= */

/* ==================Reviews section============= */

.reviews {
    padding-top: 140px;
    padding-bottom: 126px;
    background-color: #ffe550;
}
.container {
}
.reviews-title {
    font-size: 42px;
    padding-bottom: 20px;
}
.reviews-text {
    font-size: 16px;
    padding-bottom: 32px;
   
}
.reviews-list {
    display: flex;
    gap: 139px;
       
}

.reviews-list-item {
    background: #fefefe;
    border-radius: 0 30px 30px 30px;
    width: 501px;
    height: 231px;
    padding: 14px;
}
    

.reviews-list-item-text {
    width: 473px;
    font-weight: 700;
    font-size: 18px;
    margin-top: 29px;
    margin-bottom: 41px;
}
.reviews-list-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
   
}
.reviews-list-text {
    font-size: 14px;
    line-height: 1.5;
}
.reviews-image {
    

}
.images-wrapper {
    display: flex;
    gap: 16px;
}
.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}
.reviews-list-item-star {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    margin-bottom: 29px;
}
.icon-star {
    fill: #ffe550;
}
/* ==================/Reviews section============= */

/* ==================Subscribe============= */
.subscribe {
    padding-top: 176px;
    padding-bottom: 201px;
}

.container-subscribe-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-wrapper {
}
.subscribe-title {
    padding-bottom: 20px;
    font-size: 42px;
line-height: 1.2;

}
.subscribe-text {
    width: 532px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
}
.subscribe-email {
    border: 0.85px solid #ffe550;
border-radius: 30px;
padding-left: 11px;
padding-right: 57px;
padding-top: 12px;
padding-bottom: 12px;
width: 395px;
height: 42px;
outline: transparent;}
.subscribe-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
}
.subscribe-wrapper-img {
}
.subscribe-main-btn {
margin-left: 32px;
}

/* ==================/Subscribe section============= */

/* ==================Footer============= */

.footer {
    padding-top: 100px;
    box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
    }
    .footer-section {
        
           }

.footer-container {
    
    background-image: url(../images/fruit.png);
    background-repeat: no-repeat;
    background-position: right 16px bottom 0px;
   
        }

.footer-container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;

}
.logo-footer {
   margin-right: 143px;
   margin-left: 5px;
  }
  .footer-nav-contact {
    font-size: 14px;
    color: #2c2c2c;
  }
  .footer-logo-container {
    display: flex;
  }
.footer-contact-wrapper {
    display: flex;
    
}
.footer-contact-list {
    display: flex;
     gap: 28px;
   
}
.footer-contact-list-item {
    font-size: 14px;
}
.footer-politics-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    
    
}
.footer-politics-list {
    display: flex;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-decoration: underline;
    color: #7eb101;
}
.footer-link {
    color: #7eb101;
}
.footer-politics-list-item {
    font-size: 12px;
   
}
.footer-subscribe-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
.footer-form {
    display: flex;
    align-items: baseline;
    gap: 13px;
}
.subscribe-form-input {
    width: 279px;
    height: 42px;
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding-left: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    outline: transparent;
}
.subscribe-form-input::placeholder {

font-weight: 400;
font-size: 12px;
line-height: 1.5;

}
.footer-subscribe-text {
    font-size: 12px;
}
.footer-span {
    text-decoration: underline;
    color: #7eb101;
}
.footer-politics-text {
    font-size: 12px;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
background-color: #fff;
border: 2px solid #ffe450;
}
/* ==================/Footer============= */



/* ==================Modal window styles============= */
.backdrop {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
     position:fixed ;
     top: 0;
     left: 0;
    background: rgba(94, 99, 99, 0.7);
}
.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    
    width: 458px;
    height: 449px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background: #ffe550;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    padding: 32px;
}
.modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    line-height: 0;

}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #7eb101;
    fill: #fff;
}
.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
    fill: #fff;
}
/* ==================/Modal window styles============= */


/* ==================Review form styles============= */
.modal-title {
font-weight: 700;
font-size: 24px;
line-height: 1.2;
color: #2c2c2c;
margin-bottom: 20px;
text-align: center;
}
.review-form-field-input {

border: 1px solid rgba(18, 18, 18, 0.12);
box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
background: #fff;
border-radius: 30px;
outline: transparent;
width: 394px;
height: 48px;
padding-left: 12px;
padding-top: 14px;
padding-bottom: 14px;
}
.review-form-field-input:hover,
.review-form-field-input:focus {
    border: 1px solid #7eb101;
}
.review-form-field-input::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: #505050;
}
.review-form {
    margin-bottom: 24px;
}
.review-form-field-label {
    display: block;
    font-weight: 500;
font-size: 16px;
line-height: 1.4;
margin-bottom: 2px;
}
.review-form-btn {
display: block;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
text-align: center;
color: #2c2c2c;
border: 2px solid #7eb101;
border-radius: 30px;
padding: 10px 38px;
min-width: 106px;
height: 40px;
margin-left: auto;
margin-right: auto;
margin-top: 32px;
margin-bottom: 32px;
cursor: pointer;

}
.review-form-btn:hover,
.review-form-btn:focus {
    background: #bbf330;
}

/* ==================/Review form styles============= */
/*

.input-wrapp {
    margin-bottom: 32px;
}
.modal-input {
    font-weight: 400;
font-size: 16px;
line-height: 1.25;
color: #c4c4c4;
border: 1px solid rgba(18, 18, 18, 0.12);
border-radius: 30px;
width: 394px;
height: 48px;
box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
background: #fff;
padding-left: 12px;
outline: transparent;
}
.modal-buttom {
    display: block;
    min-width: 106px;
    height: 40px;
    border: 2px solid #7eb101;
border-radius: 30px;
padding: 10px 20px;
cursor: pointer;
margin: 0 auto;
background: #fff;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
}

.input-wrapper {
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
}
.check:checked + .input-check-text > .checkbox {
    background-color: #7eb101;
    border: none;
    
}
.input-check-text {
}
.checkbox {
    display: inline-flex;
    width: 16px;
height: 16px;
border-radius: 4px;
    border: 1px solid;

}
.checkbox-link {
}*/